[Unit]
Description=Zora Node Service
After=docker.service prysm-beacon.service
Requires=docker.service prysm-beacon.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/zora-node
ExecStartPre=/usr/bin/docker rm -f zora-node_op-node_1 || true
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml up --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml down
Restart=always

[Install]
WantedBy=multi-user.target
