[Unit]
Description=Zora Node Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/zora-node
ExecStart=/usr/bin/docker compose -f docker-compose.yml up --remove-orphans
ExecStop=/usr/bin/docker compose -f docker-compose.yml down
Restart=always

[Install]
WantedBy=multi-user.target
